{{#link-to 'rentals' class='button'}}
  <em><h1>SuperRentals</h1></em>
{{/link-to}}

{{#link-to 'about' class='button'}}
  About<br>
{{/link-to}}

{{#link-to 'contact' class='button'}}
  Contact
{{/link-to}}

<div class="button">
  {{outlet}}
</div>
